body {
    font-family: "Liberation Mono", monospace;
}


.button {

    text-decoration:  none;   
    border-width:     3px;
    padding:  8px    16px;
    border-radius:    3px;
    border-style:   solid;  
    border-color: #000000;
}

#cdskpr-btn {

    color:	  #fc2003;
    border-color: #fc2003;

}
